<div class="jumbotron">
    <h1>Hello, admin</h1>
    <p class="lead">Welcome to the Dashboard. 
    Home page on steroids.</p>
    <p>The <a href="#">API</a> section is disabled for now. You must be a 
        registered user to have access to the <a href="#">Dashboard</a> area.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary" href="#" role="button">Rampage through the yard.</a>
    </p>
</div>