<div class="landing-icon text-center pt-4 mt-4">
  <a href="#">
    <i class="fab fa-github"></i>
  </a>
  <a href="#">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="#">
    <i class="fas fa-phone"></i>
  </a>
</div>
