<div class="jumbotron text-center">
    <h1>Hello, user</h1>
    <p class="lead">Welcome to the landing page.
    Use the links in the navigation bar to poke around.</p>
    <p>The <a href="#">API</a> section is disabled for now. You must be a
        registered user to have access to the <a href="#">Dashboard</a> area.</p>
    <!-- <hr class="my-4"> -->
</div>
<%- include('footer'); %>
