<div class="row mb-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mt-3 pt-4">
        <form action="/user/register_dets/" method="post">
            <fieldset>
              <span class="icon-wrapper">
                <a href="/user/" data-toggle="tooltip" data-placement="right" title="" data-original-title="Go Back">
                  <i class="far fa-arrow-alt-circle-left custom-icon"></i>
                </a>
              </span>
                <div class="form-group">
                    <label for="exampleInputName">First Name</label>
                    <input name="firstname" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter your first name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Second Name</label>
                    <input name="secondname" type="text" class="form-control" id="exampleInputName2" aria-describedby="emailHelp" placeholder="Enter your second name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </fieldset>
        </form>
        <hr class="my-4">
    </div>
    <div class="col-sm-3"></div>
</div>
<%- include('footer'); %>
