<div class="row mt-5 text-center">
	<div class="col mr-auto mt-4 ml-3 lead">
		<h4>Lorem ipsum dolor sit amet.</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quos, labore cumque sequi recusandae perspiciatis.</p>
	</div>
</div>
<div class="row mt-5 text-center">
	<div class="col mr-auto mt-5 ml-3">
		<a class="btn btn-outline-primary ml-2" href="/user/login" role="button">Login</a>
		<a class="btn btn-outline-primary ml-2" href="/user/register" role="button">Register</a>
	</div>
</div>
<%- include('footer'); %>
