html, body {
	height: 100%;
	margin: 0;
}
#body-wrapper {
	height: inherit;
	display: grid;
	grid-template-rows: 100px 1fr;
}

.footer {
	height: 216px;
}

.custom-icon {
  font-size: 1.5rem;
}
.icon-wrapper {
  width: inherit;
  height: auto;
	padding-left: 0px;
}

.landing-icon {
	display: block;
}
.landing-icon a {
	text-decoration: none;
	padding: 6px 8px;
	margin: 0px 4px;
}

.landing-icon a:hover {
	text-decoration: none;
}

.landing-icon i {
	font-size: 52px;
}

/* Bootstrap overrides */
.container-fluid {
	padding: 0px;
}
